<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OlaServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.96.26.42:1234/ola" binding="basicHttpBinding"
                bindingConfiguration="OlaServicePortBinding" contract="ServiceReference1.OlaService"
                name="OlaServicePort" />
        </client>
    </system.serviceModel>
</configuration>